.board{
min-width: 290px;
max-height: 100%;
display: flex;
flex-direction: column;
gap: 20px;
}
.board_top{
 display: flex;
}
.board_top_more{
    position: relative;
    cursor: pointer;
}
.board_dropdown{
    background-color: #fff;
    width:130px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0,0,0,0.05);
}
.board_dropdown p { 
    cursor: pointer;
}
.board_top_title{
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}
.board_top_title span{
    color: gray;
}
.board_cards{
    flex: 1;
    height: 100%;
    background-color: #ecd1d1ef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
}

.boards_cards_add{
    background-color: #fff;
 border-radius: 5px;
 box-sizing: border-box;
 box-shadow: 1px 2px 0 1px rgba(0,0,0,0.15) ;
 width: 100%;
}
.boards_cards_add:hover{
    box-shadow: 1px 2px 0 1px #ccc ;
}

    
    /*Since overflow-y is given here so we have to give height as well,  now check this overflow functionality
    HERE WE ARE TRYING TO CREATE A SCROLLBAR...... LOOK here we fixed height of board_cards as 100%, so we will also set the height of 
    board i.e. the parent element's height to be 100% and similarly height of app_boards in app.css as 100%, only then it will 
    have some effect as these all will adjust height according as per their parent element
    */